.aboutPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F0EAD6;
    margin: 0px;
}

.aboutTitle {
    color: #F0EAD6;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
}


.CardInfoContainer {
    color: #F0EAD6;
}