.aboutPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F0EAD6;
    margin: 0px;
}

.aboutTitle {
    color: #F0EAD6;
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
}


.CardInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #F0EAD6;
}


.aboutMeDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}


.aboutTitleAfterClick {
    display: none;
}

