@tailwind base;
@tailwind components;
@tailwind utilities;


.homepageContainer {
    display: flex;
    flex-direction: column;

}

.introTitleContainer {
display: flex;
flex-direction: column;
padding: 0px;
}

.introTitle {
    display: flex;
}

.picContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro {
    display: flex;
    flex-direction: column;
    padding: 50px;
    color: #F0EAD6;
}




.picContainer {
    display: flex;
    flex-direction: row;
}

.myPic {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding-left: 50px;
}

.myPicSpecifics {
    height: 350px;
    width: 350px;
}

.pictureContainer {
    padding-right: 50px;
}


.description {
    display: flex;
    color: 	#F0EAD6;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    width: 600px;
    padding-right: 40px;
    height: 350px;
    text-align: left;
}
