@tailwind base;
@tailwind components;
@tailwind utilities;



.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #202020;
    padding: 25px;
    color: #F0EAD6;
}

.NAV {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.NAV-INNER {
    display: flex;
    flex-direction: row;
    gap: 40px;
    overflow-y: scroll;
    overflow: hidden;
}

.NAV-INNER.showMenu {
  width: 100%;
}


.NAV button {
    display: none;
    position: relative;
    right: 20px;
    z-index: 10;
    background: transparent;
    cursor: pointer;
    border: none;
}

li {
    list-style: none
}



@media (max-width: 1190px) {
    .NAV-INNER {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    list-style: none;
    position: fixed;
    top: 0;
    background: #202020;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    max-width: 290px;
    z-index: 9;
    }
    .NAV button {
        display: flex;
        flex-direction: row;
        margin-left: 500px;
    }
    .navbar-container {
        width: 110%;
    }
}

@media (max-width: 600px) {
    .navbar-container {
        width: 550px;
    }
}