@tailwind base;
@tailwind components;
@tailwind utilities;



.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #202020;
    padding: 25px;
    color: #F0EAD6;
}

.NAV {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.NAV-INNER {
    display: flex;
    flex-direction: row;
    gap: 40px;
    overflow-y: scroll;
    overflow: hidden;


}

.NAV-INNER.showMenu {
  width: 100%;
}


.NAV button {
    position: relative;
    right: 20px;
    z-index: 10;
    cursor: pointer;
}

li {
    list-style: none
}



@media (max-width: 1190px) {

}