@tailwind base;
@tailwind components;
@tailwind utilities;



.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #202020;
    padding: 25px;
    color: #F0EAD6;
}

.NAV {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.NAV-INNER {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

li {
    list-style: none
}