.projectsPageTitle {
    text-decoration: underline;
    font-size: 20px;
    font-weight: bolder;
}


.projectsCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.projectsContainer, .projectsPageTitle, .projectInfoTechUsedDescription, .projectCardInfoPicContainer,
.projectInfoTechUsedTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F0EAD6;
}


.projectCardInfoContainer, .descriptionContainer, .projectInfoTechUsedContainer {
    color: #F0EAD6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.projectCardInfoTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}


.projectInfoDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}


.projectInfoTechUsedTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.projectCardInfoPicContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectCardInfoPic {
    cursor: pointer;
}


@media (max-width: 1190px) {
    .projectsContainer {
    border: 1px solid red;
    justify-content: center;
    margin-left: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.projectCardInfoContainer {
    border: 1px solid yellow;
}
}